:root {
    --corner-border: 3px;
}

.chatStyle {
    display: flex;
    align-items: end;
    gap: 5px;
}

.chatStyle.sent {
    justify-content: end;
    margin-left: 30%;
}

.chatStyle.received {
    justify-content: start;
    margin-right: 30%;
}

.chatStyle.recentlyReceived {
    margin-bottom: -8px;
}

.chatStyle.received.recentlyReceived {
    margin-left: 40px;
}

.timestampStyle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 25px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.562);
}

.imageContainerStyle {
    max-width: 35px;
    min-width: 35px;
    height: 35px;
}

.imageContainerStyle img {
    width: 100%;
    height: auto;
}

.chatInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.usernameStyle {
    margin-left: 12px;
    font-size: 15px;
}

.chatBubble {
    padding: 10px 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    font-size: 18px;
}

.chatStyle.received .chatBubble.firstRecentChat {
    border-bottom-left-radius: var(--corner-border);
}

.chatStyle.received .chatBubble.partOfRecentMessageGroupStyle {
    border-bottom-left-radius: var(--corner-border);
    border-top-left-radius: var(--corner-border);
}

.chatStyle.received .chatBubble.lastRecentChatStyle {
    border-top-left-radius: var(--corner-border);
}

.chatStyle.sent .chatBubble.firstRecentChat {
    border-bottom-right-radius: var(--corner-border);
}

.chatStyle.sent .chatBubble.partOfRecentMessageGroupStyle {
    border-bottom-right-radius: var(--corner-border);
    border-top-right-radius: var(--corner-border);
}

.chatStyle.sent .chatBubble.lastRecentChatStyle {
    border-top-right-radius: var(--corner-border);
}

.messageBubbleActionsStyle {
    display: none;
}

.chatStyle:hover .messageBubbleActionsStyle {
    display: flex;
    gap: 10px;
}


.chatBubbleContainerStyle {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.chatStyle.sent .chatBubbleContainerStyle {
    flex-direction: row-reverse;
}