.loginPage {
    max-height: 100%;
    max-width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: var(--section-border-radius);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form p {
    font-size: 14px;
}

.form input {
    font-size: 15px;
    font-weight: var(--medium-text-font);
}

.form div {
    display: flex;
    gap: 5px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.actions input {
    padding: 5px 10px;
    font-weight: var(--medium-text-font);
    border: none;
    border-radius: 3px;
    margin-block: .4rem 1rem;
    cursor: pointer;
}

.submitBtn {
    background-color: #6666cea1;
    color: rgb(37, 36, 53);
}

.cancelBtn {
    background-color: rgba(128, 128, 128, 0.274);
    color: rgb(92, 52, 52);
}

.error {
    margin-top: -15px;
    margin-left: auto;
    color: red;
    font-size: 13px;
}