.actionStyle {
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.actionStyle div {
    margin-block: 10px;
    margin-left: auto;
}
.messageAndSubmitStyle{
    display: flex;
    gap: 0.5rem;
}
.textInputStyle{
    font-size: 18px;
    outline: none;
    padding: 3px 5px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.submitStyle{
    height: 100%;
    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    cursor: pointer;
}

.submitStyle img{
    width: 20px;
}