.main {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.chatroomsStyle {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    max-height: 100%;
    min-width: 300px;
    max-width: 300px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 15px 10px;
}

.chatroomsListStyle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-height: 100%;
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: 10px;
}

.chatroomsListStyle::-webkit-scrollbar {
    width: 10px;
}

.chatroomsListStyle::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: var(--scrollbar-thumb-color);
}

.chatroomsListStyle::-webkit-scrollbar-track {
    background-color: transparent;
}

.chatroomsHeaderStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgContainerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px;
    max-width: 30px;
}

.imgContainerStyle:hover {
    background-color: #9fe2ec;
}

.imgContainerStyle img {
    width: 100%;
}