.searchChatroomStyle {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    max-width: 255px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: var(--accent-color);
    cursor: text;
    margin-bottom: 1rem;
}

.searchImageContainer {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.searchImageContainer img {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.searchInputStyle {
    width: 100%;
    font-size: 17px;
    font-weight: var(--medium-text-font);
    border: none;
    outline: none;
    background-color: transparent;
}

.searchInputStyle::placeholder {
    color: var(--placeholder-color);
}