.sidebarStyle {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    padding: 15px 4px;
}

.messagesIconStyle {
    width: 32px;
    height: auto;
}

.messagesIconStyle img {
    width: 100%;
    height: auto;
}

.nameAndLogoutStyle {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 5px;
}

.userStyle {
    font-weight: 500;
}

.logoutStyle button {
    padding: 3px 5px;
    font-weight: 500;
}