.chatRoomStyle {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid rgba(53, 135, 190, 0.13);
    border-radius: 15px;
    background-color: #D9D9D9;
    color: var(--text-color);
    width: 95%;
    text-align: center;
    transition: 0.25s ease;
}

.chatRoomStyle div {
    text-align: left;
}

.chatRoomStyle:hover {
    background-color: #d4cfcfc2;
}

.chatroomImageContainerStyle{
    min-width: 40px;
}

.chatroomImageContainerStyle img{
    width: 100%;
}

.chatroomNameStyle {
    color: black;
    font-weight: 600;
}

.chatroomLatestMessageStyle {
    font-weight: 500;
    max-width: 150px;
    max-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}