.main {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.chatroomsStyle {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    max-height: 100%;
    min-width: 300px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 15px 10px;
}

.chatroomsListStyle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 100%;
    scrollbar-width: thin;
    overflow: auto;
    background-color: var(--background-color);
}

.chatroomsHeaderStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgContainerStyle {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.imgContainerStyle:hover {
    background-color: #9fe2ec;
}

.imgContainerStyle img {
    width: 25px;
}

.chatRoomStyle {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid rgba(53, 135, 190, 0.13);
    border-radius: 15px;
    background-color: #D9D9D9;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    transition: 0.25s ease;
}

.chatRoomStyle div {
    text-align: left;
}

.chatRoomStyle:hover {
    background-color: #d4cfcfc2;
}

.chatroomNameStyle {
    color: black;
    font-weight: 600;
}

.chatroomLatestMessageStyle {
    font-weight: 500;
}
