.main {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.chatroomsStyle {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    max-height: 100%;
    min-width: 300px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 15px 10px;
}

.chatroomsListStyle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 100%;
    scrollbar-width: thin;
    overflow: auto;
    background-color: var(--background-color);
}

.chatroomsHeaderStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgContainerStyle {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.imgContainerStyle:hover {
    background-color: #9fe2ec;
}

.imgContainerStyle img {
    width: 25px;
}

.chatRoomStyle {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid rgba(53, 135, 190, 0.13);
    border-radius: 15px;
    background-color: #D9D9D9;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    transition: 0.25s ease;
}

.chatRoomStyle div {
    text-align: left;
}

.chatRoomStyle:hover {
    background-color: #d4cfcfc2;
}

.chatroomNameStyle {
    color: black;
    font-weight: 600;
}

.chatroomLatestMessageStyle {
    font-weight: 500;
}

.chatParent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("./chat-backgrounds.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.chatBodyStyle {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    margin-top: auto;
}

.startChatStyle{
    font-size: 50px;
    text-align: center;
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 5px;
    scrollbar-gutter: stable;
}

.chatMessagesStyle {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.chat::-webkit-scrollbar {
    scrollbar-width: thin;
}

.chat::-webkit-scrollbar-thumb {
    background: rgba(52, 5, 141, 0.397);
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb:hover {
    background-color: rgba(53, 5, 141, 0.575);
}

.chatBubble {
    display: flex;
    padding: 10px 20px;
    background-color: #D9D9D9;
    border-radius: 60px;
    font-size: 18px;
}

.chatBubble.sent {
    margin-left: auto;
}

.chatBubble.received {
    margin-right: auto;
}

.formContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.closeBtnStyle {
    position: absolute;
    top: 0;
    right: 0;
}