.optionContainerStyle {
    position: relative;
    width: 100%;
}

.optionImageContainerStyle,
.replyImageContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d7181a8;
    border-radius: 50%;
    width: 25px;
    padding: 5px;
    cursor: pointer;
}

.optionImageContainerStyle img,
.replyImageContainerStyle img {
    width: 100%;
    height: auto;
}

.optionDropdownStyle {
    position: absolute;
    right: 0;
    width: 180px;
    height: auto;
    background-color: transparent;
    border-radius: 5px;
}

.optionDropdownStyle.above {
    bottom: 25px;
}

.optionDropdownStyle.below {
    top: 20px;
}

.optionDropdownStyle.receiver {
    left: 0;
}

.optionDropdownStyle div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
}

.optionDropdownStyle p {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #3f6170;
}

.optionDropdownStyle p:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.optionDropdownStyle p:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}